html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-con{
    min-height: 100vh;
    background-color: #272b30;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-con{
    padding: 15px;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    border: 2px solid gainsboro;
}
.userRants{
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}
.message-holder-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-holder-contents h2{
    font-family: popreg;
    color: black
}
.rants-holder::-webkit-scrollbar{
    display: none;
}
.rants-holder{
    padding: 5px;
    height: 400px;
    overflow: auto;
}
.themessages{
    padding-bottom: 5px;
}

.sub-con h4{
    font-family: popsemibo;
    margin: 0px;
}
.codeName{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    font-family: popreg;
    font-size: .9em;
    gap: 10px;
    padding: 5px 0px 0px 0px;
}
.codeName label{
    display: flex;
    align-items: center;
    color: gray;
}
.codeName input{
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 8px;
    font-family: popreg;
    font-size: 1em;
}

.textMessage{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}
.textMessage p{
    margin: 0px;
    text-align: end;
    font-family: popreg;
    font-size: .8em;
    color: gray;
}
.textMessage textarea{
    font-family: popreg;
    border: 1px solid gainsboro;
    border-radius: 5px;
    resize: none;
    padding: 5px;
    height: 100%;
    font-size: 1em;
}

.btn{
    font-size: 1em;
    font-family: popreg;
    padding: 5px 15px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: whitesmoke;
    background-color: #56beff;
    display: flex;
    align-items: center;
}
.btn:hover{
    color: #24a0ed;
    background-color: whitesmoke;
    border: 1px solid #24a0ed;
}
.send-icon{
    padding-left: 3px;
}
@media (max-width:1120px) {
    .userRants{
        display: none;
    }
}
@media (max-width: 414px) {
    .main-con {
        padding: 10px;
    }
    .sub-con h4{
        font-size: .9em;
    }
    .codeName{
        font-size: .8em;
    }
    .codeName input{
        font-size: .8em;
    }
    .textMessage{
        margin: 0px;
    }
    .textMessage p{
        font-size: .7em;
    }
    .textMessage textarea{
        font-size: .8em;
    }
    .btn{
        font-size: .8em;
    }
}
@keyframes anvil {
    0% {
        transform: scale(1) translateY(0px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
        transform: scale(0.96) translateY(10px);
        opacity: 0;
        box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
        box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
}