html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.main-con{
    min-height: 100vh;
    background-color: #272b30;
    display: flex;
    align-items: center;
    justify-content: center;
}
.test{
    display: flex;
    flex-direction: column;
}