@font-face {
  font-family: popreg;
  src: url(../public/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: popsemibo;
  src: url(../public/fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: quiapo;
  src: url(../public/fonts/Quiapo_Free.ttf);
}
